*.class

# Package Files #
*.jar
*.war
*.ear
*.swp

cache

config.ini
sparqlify-parent
test.txt

pom.xml.releaseBackup
release.properties

.project
.classpath
.settings

target

linkedgeodata-trash

links.nt
limes.log
review.nt

.env
pom.xml.versionsBackup
trash


share/*
!share/README.md

share/sparqlify/*
!share/sparqlify/README.md

