# Service ports

NOMINATIM_PORT=8012
SPARQLIFY_PORT=8013
ONTOP_PORT=8014
PUBBY_PORT=8021


# Database config

POSTGRES_VERSION=9.5
POSTGIS_VERSION=2.2


# The project name as of docker-compose - by default the name of the parent directory
PROJECT_NAME=`basename $(pwd)`

DB_HOST="${PROJECT_NAME}_lgd-db_1"
DB_PORT=5432
DB_USER=lgd
DB_PASS=lgdpwd
DB_NAME=lgd
DB_TYPE_JDBC=postgresql
DB_TYPE_PDO=pgsql

# Connection URLs derived from the individual components
DB_URL_JDBC="${DB_TYPE_JDBC}://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
DB_URL_PDO="${DB_TYPE_PDO}://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}"


DB_SHARED_BUFFERS=2GB
DB_EFFECTIVE_CACHE_SIZE=2GB
DB_WORK_MEM=256MB
DB_MAINTENANCE_WORK_MEM=256MB


# OSM data config

#Geofabrik does not maintain updates indefinitely, so using deprecated data will break the sync
#OSM_DATA_BASE_URL=http://downloads.linkedgeodata.org/debugging/monaco-170618.osm.pbf

OSM_DATA_BASE_URL=http://download.geofabrik.de/europe/monaco-latest.osm.pbf
OSM_DATA_SYNC_URL=http://download.geofabrik.de/europe/monaco-updates/

# Crunch interval is the interval for which to merge individual updates into a single larger update
OSM_DATA_SYNC_CRUNCH_INTERVAL=86400


# If there are no options for Sparqlify, LEAVE the value BLANK:
# OK: SPARQLIFY_OPTS=
# BAD (will cause an error about resource "" not found): SPARQLIFY_OPTS=""
SPARQLIFY_OPTS=
#SPARQLIFY_OPTS=-t 180 -n 50000


# These constants should not be needed as they can be obtained automatically by analysing the osm data base url
#OSM_DATA_SYNC_RECHECK_INTERVAL=900
#OSM_DATA_SYNC_UPDATE_INTERVAL=3600


## Nominatim Options
# The website base URL must be set appropriately in order for the Nominatim Web app
# component that runs in the browser to locate its javascript and CSS resources
NOMINATIM_WEBSITE_URL="http://localhost:8012/"

## 
# Pubby Linked Data Interface Options
#
# PUBBY_WEB_BASE: The public URLs prefix under which Linked Data is accessed
# PUBBY_ENDPOINT_URL: The SPARQL endpoint from which to retrieve the data; with defaults:
#   - sparqlify: http://lgd-sparqlify-web:7531/sparql
#   - ontop: http://lgd-ontop-web:8080/sparql
#   - public lgd sparql endpoint: http://linkedgeodata.org/sparql
# PUBBY_INDEX_RESOURCE: The default resource which to show under the pubby's servlet root
##
PUBBY_PROJECT_NAME="LGD docker"
#PUBBY_ENDPOINT_URL=http://linkedgeodata.org/sparql
PUBBY_ENDPOINT_URL=http://lgd-sparqlify-web:7531/sparql
PUBBY_DEFAULT_GRAPH=http://linkedgeodata.org
PUBBY_WEB_BASE=http://localhost:8021/
PUBBY_DATASET_BASE=http://linkedgeodata.org/
PUBBY_INDEX_RESOURCE=http://linkedgeodata.org/triplify/node29857233

