#!/bin/bash
# This file is intended to be source'd from other scripts of the LinkedGeoData suite.

# Note: We recommend to leave this file unchanged, and override these settings in a file
# without the .dist extension

dbHost="localhost"
dbName="lgd"
dbUser="postgres"
dbPass="postgres"

sparqlifyCmd="sparqlify"
lgdPrepareInterlinksCmd="lgd-prepare-interlinks"

lgdSmlPath="/usr/share/linkedgeodata/sml"
lgdSmlFile="LinkedGeoData-Triplify-IndividualViews.sml"

lgdSqlPath="/usr/share/linkedgeodata/sql"

# FIXME Not sure what the best way to link to that file is
postgisPathCandidate=`find /usr/share/postgresql/ -name postgis.sql | head -n 1`
postgisPath=`dirname "$postgisPathCandidate"`
#postgisPath="/usr/share/postgresql/9.1/contrib/postgis-2.0"


osmosisSqlPath="/usr/share/doc/osmosis/examples"

#sparqlifyConf="/etc/sparqlify/sparqlify.conf"
#[ -f "$sparqlifyConf" ] $$ source "$sparqlifyConf"

