Package: rdf-processing-toolkit-cli
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: java-runtime-headless
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: RDF Processing Toolkit Command Line Interfaces
Distribution: ldstack-nightly
Homepage: http://aksw.org/Projects/RdfProcessingToolkit
Vcs-Git: git://github.com/SmartDataAnalytics/RdfProcessingToolkit.git
Vcs-Browser: https://github.com/SmartDataAnalytics/RdfProcessingToolkit
