Package: [[deb.packageName]]
Version: [[version]]
Section: web
Priority: optional
Architecture: all
Depends: java-runtime-headless, build-essential, libxml2-dev, libpq-dev, libbz2-dev, libtool, automake, libproj-dev, libboost-dev, libboost-system-dev, libboost-filesystem-dev, libboost-thread-dev, libexpat-dev, gcc, proj-bin, libgeos-c1v5, libgeos++-dev, libexpat-dev, php, php-pear, php-pgsql, php-json, php-db, libapache2-mod-php, postgresql, postgis, postgresql-contrib, postgresql-9.5-postgis-2.2, postgresql-server-dev-9.5, wget
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: LinkedGeoData-Nominatim
Distribution: ldstack-nightly
Homepage: https://github.com/openstreetmap/Nominatim
Vcs-Git: git@github.com:openstreetmap/Nominatim.git
Vcs-Browser: https://github.com/openstreetmap/Nominatim
